.container-form {

    min-height: 100vh;

    .form-new {
        margin-top: 100px;

        &.session {
            max-width: 50vw;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .form-inputs {
        input, textarea{
            background-color: transparent;
            color: white;
            min-width: 20%;
        }
    }
    .form-actions {
        input {
            border: solid white 2px;
        }
    }

    .form-check {
        padding: 0;

        label {
            padding-left: 20px;
        }
        
    }

    .field {
        margin: 20px 0;
        display: flex;

        label {
            min-width: 20%;
        }
        input, textarea {
            background-color: transparent;
            color: white;
            min-width: 20%;
        }
    }

    textarea {
        background-color: transparent;
    }

    #shoe_picture_3D {
        border: none;
    }
    

}